
Roomies/.vs/ProjectEvaluation/roomies.metadata.v7.bin
Roomies/.vs/ProjectEvaluation/roomies.projects.v7.bin
Roomies/.vs/Roomies/DesignTimeBuild/.dtbcache.v2
Roomies/.vs/Roomies/v17/.futdcache.v2
Roomies/.vs/Roomies/v17/.suo
Roomies/Roomies/obj/Debug/net6.0-windows/.NETCoreApp,Version=v6.0.AssemblyAttributes.vb
Roomies/Roomies/obj/Debug/net6.0-windows/Roomies.assets.cache
Roomies/Roomies/obj/Debug/net6.0-windows/Roomies.GeneratedMSBuildEditorConfig.editorconfig
Roomies/Roomies/obj/project.assets.json
Roomies/Roomies/obj/project.nuget.cache
Roomies/Roomies/obj/Roomies.vbproj.nuget.dgspec.json
Roomies/.vs/
.vs
Roomies/Roomies/bin
Roomies/Roomies/obj
